#navbar {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    width: 100%;
    justify-content: flex-end;
}

#navbar .link {
    margin-right: 1em;
    font-weight: 800;
    font-size: large;
} 

#navbar .link a {
    text-decoration: none;
    color: white;
}

#navbar .link a:hover {
    cursor: pointer;
    color: rgb(228, 224, 224);
}