#landing-page #header #photos {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-self: center;
}

.photo {
    width: 25%;
}

#photos .photo {
    margin-right: 10vw;
}

#photos img:nth-child(even) {
    transform: rotate(-10deg);
}

#photos img:nth-child(odd) {
    transform: rotate(20deg);
}

#photos img:last-child {
    margin-right: 0;
}