#landing-page #header #photos {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

#landing-page #header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
    flex: 1;
}

#photos .photo {
    margin-right: 10vw;
}

#photos img:nth-child(even) {
    transform: rotate(-10deg);
}

#photos img:nth-child(odd) {
    transform: rotate(20deg);
}

#photos img:last-child {
    margin-right: 0;
}